@import compass

$terminal-font-size: 18px
$cursor-size: 28px

// Font smoothing
$fs: antialiased
  
// Keyframes mixin
=keyframes($id)
  @-webkit-keyframes #{$id}
    @content
  @-moz-keyframes #{$id}
    @content
  @-ms-keyframes #{$id}
    @content
  @keyframes #{$id}
    @content
  
// Animation mixin
=animation($content)
  -webkit-animation: $content
  -moz-animation: $content
  -o-animation: $content
  animation: $content
  
body
  cursor: text
  counter-reset: input
  margin: 20px
  padding: 0
  background: lavenderblush
  -moz-font-smoothing: $fs
  -webkit-font-smoothing: $fs
  font-smoothing: $fs
  background: #002728

.terminal
  float: left
  margin: 0
  padding: 0
  font-family: Menlo, Courier New
  font-size: $terminal-font-size
  text-rendering: optimizeLegibility
  font-weight: bold
  color: white
  
  > .terminal--input
    counter-increment: input
      
    &:before
      content: '[' counter(input) '] $ '
    
    &:last-child:after
      +animation(blink .75s infinite)
      margin-left: 5px
      width: $cursor-size
      content: '|'
      background: white
        
  > .terminal--output
    &.is-console:before
      margin-right: 10px
      content: '>'
      
    &.is-not-defined:before
      content: 'undefined'
      color: rgba(white, .5)
        
+keyframes(blink)
  from
    opacity: 1
  to
    opacity: 0
